<!--Navigation-->

<!--
To add new links, follow the example below (and activate it it by removing the arrowy things!) Copy and paste as many times as needed, but bear in mind that the bar can get rather crowded quickly.
-->

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{ ARTHI 999 | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{"/week01" | relative_url }}">Week One</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="{{"/week02" | relative_url }}">Week Two</a>
    </li>
  <li class="nav-item">
    <a class="nav-link" href="{{"/week03" | relative_url }}">Week Three</a>
  </li>
<li class="nav-item">
  <a class="nav-link" href="{{"/week04" | relative_url }}">Week Four</a>
</li>
        <li class="nav-item">
<a class="nav-link" href="{{"/week05" | relative_url }}">Week Five</a>
</li>
        <li class="nav-item">
<a class="nav-link" href="{{"/week06" | relative_url }}">Week Six</a>
</li>
        <li class="nav-item">
<a class="nav-link" href="{{"/week07" | relative_url }}">Week Seven</a>
</li>
        <li class="nav-item">
<a class="nav-link" href="{{"/week08" | relative_url }}">Week Eight</a>
</li>
        <li class="nav-item">
<a class="nav-link" href="{{"/week09" | relative_url }}">Week Nine</a>
</li>
        <li class="nav-item">
<a class="nav-link" href="{{"/week10" | relative_url }}">Week Ten</a>
</li>

<!--
        <li class="nav-item">
          <a class="nav-link" href="http://example.com">link text</a>
        </li>
-->
      </ul>
    </div>
  </div>
</nav>
