---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

// Below you can add bits of CSS to override the default settings. I've included a couple to get you started. Just remove the "//" from the beginning of each line to activate it, and refresh your browser. For more information on CSS and how to use it, see https://www.w3schools.com/css/.

// To change the fonts for the headings across the site:
h1 {
    font-family: "Segoe Script", Times, Helvetica, sans-serif;
    font-size: 50px
    //  color: #4CAF50
}

h3 {
background-image: url("/img/posts/Border.jpg");
border-style:outset;
font-family: "Segoe Script", Times, Helvetica, sans-serif;
font-size: 50px;
text-align:center
//  color: #4CAF50
}

h2, h4, h5 {
  font-family: "Times", Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal
}

// If you would like to switch off an entire section of CSS, you can also place /* and */ at each end of a block, like this:

header.masthead .page-heading h1, header.masthead .site-heading h1 {
    font-family: "Segoe Script", Times, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 50px
    max-width
}


// To change the fonts for the main site navigation bar:
/*
#mainNav .navbar-brand {
    font-family: Palatino, Times, serif;
    font-weight: normal;
    font-style: normal;
}
*/

// To customise the navigation bar links:
/*
#mainNav .navbar-nav > li.nav-item > a {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: lowercase;
    color: #4CAF50;
}
*/

// To customise the way that tables look:


table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: auto;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes zoom {
  from {transform: scale(0.1)}
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

body {
  background-color: linen;
}

* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}
.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 150px;
  height: 150px;
}

* {box-sizing: border-box;}

img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}
.accordion {
  background-color: antiquewhite;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 75%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-style: Times;
  transition: 0.4s;
}
