---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";
@import url('https://fonts.googleapis.com/css?family=Eagle+Lake|Merienda+One&display=swap');


// Below you can add bits of CSS to override the default settings. I've included a couple to get you started. Just remove the "//" from the beginning of each line to activate it, and refresh your browser. For more information on CSS and how to use it, see https://www.w3schools.com/css/.

// To change the fonts for the headings across the site:
h1 {
    font-family: "Eagle Lake", cursive;
    font-size: 25px
    //  color: #4CAF50
}

h3 {
  font-family:"Eagle Lake", cursive;
  font-size: 75px;
  text-align:center
//  color: #4CAF50
}

h2 {
  font-family: "Arial", Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal;
  color: black
}


h4 {
  font-family: "Times", Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal
}

h5 {
  font-family:"Eagle Lake", cursive;
  font-size: 50px;
  text-align:center
  //  color: #4CAF50
}

h6 {
  font-family: times;
  font-size: 30
}

// If you would like to switch off an entire section of CSS, you can also place /* and */ at each end of a block, like this:

header.masthead .page-heading h1, header.masthead .site-heading h1 {
    font-family: 'Eagle Lake', Times, serif;
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
    max-width: 1000px
}
body {
  background-color: lightblue;
}


// To change the fonts for the main site navigation bar:
/*
#mainNav .navbar-brand {
    font-family: Palatino, Times, serif;
    font-weight: normal;
    font-style: normal;
}
*/

// To customise the navigation bar links:
/*
#mainNav .navbar-nav > li.nav-item > a {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: lowercase;
    color: #4CAF50;
}
*/

// To customise the way that tables look:


table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: auto;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


/** LIGHTBOX MARKUP **/

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
  font-family: times;
  font-size: 16;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: so;

	/** Unhide lightbox **/
	display: block;
}
.lightbox figcaption {
    bottom:10;
    position:absolute;
    color:white;
    width: 100%;
    max-width: max-width;
    text-align: center;
    padding-right: 10px;
    background: rgba(0, 0, 0, 0.5)
  }


$midnight: #2c3e50;
$clouds: #ecf0f1;
// General
body {
  color: $midnight;
  background: $clouds;
  padding: 0 1em 1em;
}
h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}
h2 {
  margin: 0 0 .5em;
  font-weight: normal;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout
.row {
  display:flex;
  .col {
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
  }
}


/* Accordion styles */
.tabs {
  border-radius: 8px;
  border: solid;
  border-color: saddlebrown;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
  background: antiquewhite
}
.tab {
  width: 100%;
  color: black;
  text-align: left;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-image: url("/img/posts/paper1.jpg");
    border-style: solid;
    border-color: saddlebrown;
    font-weight: bold;
    font-family: 'Eagle Lake', cursive;
    font-size: 30px;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken(antiquewhite, 10%);
    }
    &::after {
      content: "\276F";
      width: auto;
      height: auto;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    font-family: Times;
    font-weight: normal;
    max-height: 0;
    padding: 0 1em;
    color: linen;
    background: linen;
    transition: all .35s;
    font-size: 20px;
    color: black;
    text-align: left
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background-image: url("/img/posts/paper1.jpg");
    cursor: pointer;
    &:hover {
      background: darken(antiquewhite, 10%);
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    background-image: url("/img/posts/paper1.jpg");
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 200vh;
    padding: 1em;
  }
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 800px
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 25%;
  height: auto
}

div.desc {
  padding: 15px;
  text-align: left;
  font-size: 8;
  font-family: times
}
